/*  your css code here. If applicable */
body{ 
	background-color : gray ;
	margin : 0;
	padding : 0;
}
.main{
	 display : flex;
     justify-content : space-between;
	flex-wrap : wrap ;
}
.Art{
	 flex : 1;
     margin : 10px;
     padding : 20px;
     border : 1px solid #ccc;
	 width : 100px;
	background-color : white;
}
.column-title {
	font-size : 1rem;
    font-weight : bold;
    margin-bottom : 10px;
	text-align : center ;
}
.article-list{
	list-style-type : none;
	padding : 0;
	text-align : center ;
}
.article {
    margin-bottom : 10px;
}